services:
	- App\Core\RouterFactory::createRouter
	- App\Models\FacilityManager
	- App\Services\EmailService(adminEmail: %adminEmail%)
	- App\Services\RegistrationService
	- App\Components\RegistrationForm\InitRegistrationControlFactory
	- App\Components\RegistrationForm\CompleteRegistrationControlFactory
	- App\Components\Admin\ClinicsGridControlFactory
	- App\Components\Info\ClinicDetailControlFactory
	- App\Components\Login\LoginControlFactory
	- App\Security\ClinicAuthenticator
	- App\Components\Account\ChangeContactControlFactory
	- App\Services\AccountService


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
