services:
	- App\Core\RouterFactory::createRouter
	- App\Models\FacilityManager
	- App\Services\EmailService
	- App\Services\RegistrationService
	- App\Components\RegistrationForm\InitRegistrationControlFactory
	- App\Components\RegistrationForm\CompleteRegistrationControlFactory


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
