services:
	- App\Core\RouterFactory::createRouter
	- App\Models\FacilityManager
	- App\Services\EmailService(adminEmail: %adminEmail%)
	- App\Services\RegistrationService
	- App\Components\RegistrationForm\InitRegistrationControlFactory
	- App\Components\RegistrationForm\CompleteRegistrationControlFactory
	- App\Components\Admin\ClinicsGridControlFactory
	- App\Components\Info\ClinicDetailControlFactory


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
