{block title}Registrace zdravotního zařízení{/block}
{block content}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="lead">Vyplňte prosím IČO a kontaktní e-mail. Pošleme vám na něj odkaz pro pokračování.</p>
            <div class="card shadow-sm">
                <div class="card-body">
                    {control initForm}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}