{block title}Portál{/block}
{block content}
<div class="container mt-5 text-center">
    <h1>Vítejte na portálu MOJE OČI</h1>
    <p class="lead mt-3">Přidejte svou kliniku do našeho systému a získejte nové pacienty.</p>
    
    <a n:href=":Registration:Registration:default" class="btn btn-primary btn-lg mt-4">
        Zahájit registraci zařízení
    </a>
	{*TODO: pridat informace o programech*}
</div>
{/block}